* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-container {
    margin: 1.5rem auto;
    max-width: 40rem;
}

.btn-container {
    display: flex;
    justify-content: space-around;
}

img {
    width: auto;
    height: 30rem;
}

h2 {
    margin-bottom: 1rem;
    text-align: center;
}

p, h3  {
    display: inline-block;
    margin: 0.5rem 2rem;
}

.btn {
    padding: 0.5rem;
    font-size: 1.5rem;
    margin-left: 1.5rem;
    background-color: rgb(67, 56, 225);
    color: #fff;
    cursor: pointer;
    transition: all 150ms ease-in;
    border-radius: 0.5rem;
    border: none;
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.btn:hover {
    background-color: rgb(128, 120, 241);
    color: rgb(34, 33, 33);
}

.btn:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}